<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lym.zk.mapper.OrderItemMapper" >

    <resultMap id="BaseResultMap" type="com.lym.zk.bean.OrderItemPO" >
        <id column="id" property="id" jdbcType="INTEGER" />
    </resultMap>

    <update id="updateById">
        update lym_order_item set quantity = #{quantityCount} where id = #{id};
    </update>

    <select id="findQuantityById" resultType="java.lang.Integer">
        select quantity from lym_order_item where id = #{id};
    </select>
</mapper>
